@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.contacts-rect {
    font-family: Gotham SS Medium;
    background-color: $white-color;
    .max-width-1090 {
        position: relative;
        max-width: 1090px;
        margin: auto;
        padding: 210px 15px 60px 15px;
    }
    .corner-header {
        position: relative;
        margin-bottom: 95px;
        .corner-left {
            position: absolute;
            width: 50px;
            min-height: 50px;
            border-top: 3px solid $azure-color;
            border-left: 3px solid $azure-color;
        }
        .corner-text {
            position: absolute;
            left: 20px;
            top: 20px;
            font-family: Gotham SS Medium;
            font-size: 28px;
            line-height: 33.6px;
            color: $navy-color;
        }
    }
    p {
        color: $navy-color;
        line-height: 21.6px;
        margin: 0;
    }
    .margin-bottom-20 {
        margin-bottom: 20px;
    }
}