@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.about-us-rect {
    position: relative;
    height: 700px;
    color: $white-color;
    width: 100%;
}

.max-width-700 {
    max-width: 700px;
    padding-top: 205px;
    margin-left: auto;
    margin-right: auto;
    .about-us-header {
        font-family: Gotham SS Medium;
        line-height: 36px;
    }
    .about-us-text {
        font-family: Gotham SS Light;
        line-height: 22.5px;
    }
}

.dashed-border-white {
    display: inline-flex;
    border-bottom: 1px dashed $white-color;
    cursor: pointer;
}

.fa {
    margin-top: 4px;
    margin-left: 4px;
}

.margin-top-20 {
    margin-top: 10px;
}

.margin-top-40 {
    margin-top: 10px;
}



