@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.about-us-rect {
    position: relative;
    height: 700px;
    color: $white-color;
    width: 100%;
}

.max-width-700 {
    max-width: 700px;
    padding-top: 205px;
    margin-left: auto;
    margin-right: auto;
    .about-us-header {
        font-family: Gotham SS Medium;
        line-height: 36px;
    }
    .about-us-text {
        font-family: Gotham SS Light;
        line-height: 22.5px;
    }
}

.dashed-border {
    display: inline-flex;
    border-bottom: 1px dashed $white-color;
    cursor: pointer;
    .arrow-right {
        height: 10px;
        width: 10px;
        margin-top: 5.5px;
        margin-left: 5px;
        background: url('../../assets/icons/arrow-right.svg');
    }
}

.margin-top-20 {
    margin-top: 10px;
}

.margin-top-40 {
    margin-top: 10px;
}



