@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';

.production-rect {
    background-color: $grey-color;
    height: 950px;
    .max-width-1090 {
        position: relative;
        max-width: 1090px;
        margin: auto;
        bottom: 140px;
        padding: 0 15px;
    }
    .solid-border {
        font-family: Gothem SS Medium;
        color: $navy-color;
        border-bottom: 1px solid $navy-color;
    }
}