@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import 'react-multi-carousel/lib/styles.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.trust-us-rect {
    font-family: Gotham SS Medium;
    .max-width-1090 {
        position: relative;
        max-width: 1090px;
        margin: auto;
        padding: 60px 15px;
    }
    .corner-header-left {
        position: relative;
        margin-bottom: 130px;
        .corner {
            position: absolute;
            width: 50px;
            min-height: 50px;
            border-top: 3px solid $azure-color;
            border-left: 3px solid $azure-color;
        }
        .corner-text {
            position: absolute;
            left: 20px;
            top: 20px;
            font-family: Gotham SS Medium;
            font-size: 28px;
            line-height: 33.6px;
            color: $navy-color;
        }
    }
    .corner-header-right {
        position: relative;
        margin-bottom: 130px;
        .corner {
            position: absolute;
            right: 0;
            width: 50px;
            min-height: 50px;
            border-top: 3px solid $azure-color;
            border-right: 3px solid $azure-color;
        }
        .corner-text {
            position: absolute;
            right: 20px;
            top: 20px;
            font-family: Gotham SS Medium;
            font-size: 28px;
            line-height: 33.6px;
            color: $navy-color;
        }
    }
    .arrow-background-right {
        position: absolute !important;
        right: 0px;
        height: 40px;
        width: 40px;
        background-color: $navy-color;
        cursor: pointer;
    }
    
    .arrow-background-left {
        position: absolute !important;
        left: 0px;
        height: 40px;
        width: 40px;
        background-color: $navy-color;
        cursor: pointer;
    }
    
    .custom-right-arrow {
        position: absolute !important;
        top: 12px;
        left: 10px;
        border: 1px solid $white-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(-45deg);
    }
    
    .custom-left-arrow {
        position: absolute !important;
        top: 12px;
        right: 10px;
        border: 1px solid $white-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(135deg);
    }
    
    .img-style {
        display: block;
        margin: auto;
        align-items: center;
    }
    
    .react-multi-carousel-track {
        align-items: center !important;
    }
}

.background-grey {
    background-color: $grey-color;
}

.background-white {
    background-color: $white-color;
}