.font-s-11 {
    font-size: 11px;
}

.font-s-12 {
    font-size: 12px;
}

.font-s-14 {
    font-size: 14px;
}

.font-s-16 {
    font-size: 16px;
}

.font-s-18 {
    font-size: 18px;
}

.font-s-20 {
    font-size: 20px;
}

.font-s-28 {
    font-size: 28px;
}