@font-face {
    font-family: Gotham SS Light;
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/GothamSSm-Light.ttf') format('truetype');
}

@font-face {
    font-family: Gotham SS Medium;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/GothamSSm-Medium.ttf') format('truetype');
}

