@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.contact-us-rect {
    font-family: Gotham SS Medium;
    background-color: rgba($color: $navy-color, $alpha: 0.8);
    .max-width-1090 {
        position: relative;
        max-width: 1090px;
        margin: auto;
        padding: 60px 15px;
    }
    .corner-header {
        position: relative;
        margin-bottom: 130px;
        .corner-left {
            position: absolute;
            width: 50px;
            min-height: 50px;
            border-top: 3px solid $azure-color;
            border-left: 3px solid $azure-color;
        }
        .corner-text {
            position: absolute;
            left: 20px;
            top: 20px;
            font-family: Gotham SS Medium;
            font-size: 28px;
            line-height: 33.6px;
            color: $white-color;
        }
    }
    .fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .field {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
    }
    input, textarea {
        font-family: Gotham SS Light;
        width: 100%;
        height: 100%;      
        padding: 15px;
        border: 1px solid $white-color;
        background-color: rgba($color: $white-color, $alpha: 0.7);
        color: $navy-color;
        text-align: start;
        resize: none;
        &:focus {
            outline: none;
        }
    }
    input::placeholder, textarea::placeholder {
        font-family: Gotham SS Light;
        color: $navy-color;
        font-size: 14px;
    }
    .btn {
        font-family: Gotham SS Medium;
        font-size: 16px;
        width: 25%;
        margin-top: 10px;
        padding: 10px 0px;
        &:hover {
            color: $white-color;
            text-decoration: none;
        }
    }
    .btn-navy {
        color: $white-color;
        background-color: $navy-color;
        border-color: $navy-color;
    }
    .footer-modal {
        font-family: Gotham SS Light;
        margin-bottom: 0;
        margin-top: 7px;
        color: $white-color;
    }
}