@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/font-sizes';

.send-modal-window {
    position: fixed;
    max-width: 600px;
    background-color: $grey-color;
    color: $navy-color;
    padding: 50px 40px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    .header-modal {
        font-family: Gotham SS Medium;
    }
    .text-modal {
        font-family: Gotham SS Light;
        padding-bottom: 10px;
    }
    .fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;

        .field {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
        }

        .input {
            position: relative;

            font-family: Gotham SS Light;
            width: 100%;
            height: 100%;  
            border: 1px solid rgba($color: $navy-color, $alpha: 0.5);
            color: $navy-color;
            text-align: start;
            resize: none;
            font-size: 14px;

            textarea {
                resize: none;
            }
            
            &__label {
                position: absolute;
                left: 0;
                top: 0;
                padding: calc(15px * 0.75) 15px;
                margin: calc(5px * 0.75) 0;
                transform: translate(0, 0);
                transform-origin: 0 0;
                transition: transform 120ms ease-in;
            }

            &__field {
                box-sizing: border-box;
                display: block;
                width: 100%;
                height: 100%;
                padding: 15px;
                border: none;
                outline: none;
                color: $navy-color;
            
                &:focus,
                &:not(:placeholder-shown) {
                    & + .input__label {
                    transform: translate(0, -70%) scale(.8);
                    outline: none;
                    font-size: 18px;
                    font-family: Gotham SS Medium;
                    }
                }
            }
        }
    }
    .upload-button {
        text-align: initial;
        input {
            font-family: Gotham SS Light;
            font-size: 12px;
            height: 100%;      
            padding-top: 25px;
            color: rgba($color: $black-color, $alpha: 0.5);
            text-align: start;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        p {
            font-family: Gotham SS Light;
            font-size: 12px;
            color: rgba($color: $black-color, $alpha: 0.5);
            margin: 0;
        }
    }
    .btn {
        font-family: Gotham SS Medium;
        font-size: 14px;
        width: 100%;
        margin-top: 25px;
        padding: 10px 0px;
        &:hover {
            color: $white-color;
            text-decoration: none;
        }
    }
    .btn-navy {
        color: $white-color;
        background-color: $navy-color;
        border-color: $navy-color;
    }
    .footer-modal {
        font-family: Gotham SS Light;
        margin-bottom: 0;
        margin-top: 7px;
    }

    .fa {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }
}



