@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/font-sizes';

.send-modal-window {
    position: fixed;
    max-width: 600px;
    background-color: $grey-color;
    color: $navy-color;
    padding: 50px 40px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    .header-modal {
        font-family: Gotham SS Medium;
    }
    .text-modal {
        font-family: Gotham SS Light;
        margin: 10px 10%;
    }
    .fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        
        .field {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
        }

        input, textarea {
            font-family: Gotham SS Light;
            width: 100%;
            height: 100%;      
            padding: 15px;
            border: 1px solid rgba($color: $navy-color, $alpha: 0.5);
            color: $navy-color;
            text-align: start;
            resize: none;
            &:focus {
                outline: none;
            }
        }

        input::placeholder, textarea::placeholder {
            font-family: Gotham SS Light;
            color: $navy-color;
            font-size: 14px;
        }
    }
    .upload-button {
        text-align: initial;
        input {
            font-family: Gotham SS Light;
            font-size: 12px;
            height: 100%;      
            padding-top: 10px;
            color: rgba($color: $black-color, $alpha: 0.5);
            text-align: start;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        p {
            font-family: Gotham SS Light;
            font-size: 11px;
            color: rgba($color: $black-color, $alpha: 0.5);
            margin: 0;
        }
    }
    .btn {
        font-family: Gotham SS Medium;
        font-size: 16px;
        width: 100%;
        margin-top: 10px;
        padding: 10px 0px;
        &:hover {
            color: $white-color;
            text-decoration: none;
        }
    }
    .btn-navy {
        color: $white-color;
        background-color: $navy-color;
        border-color: $navy-color;
    }
    .footer-modal {
        font-family: Gotham SS Light;
        margin-bottom: 0;
        margin-top: 7px;
    }

    .fa {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }
}



