@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.send-us-rect {
    font-family: Gotham SS Medium;
    background-color: $grey-color;
    cursor: default;

    img {
        position: absolute;
        height: 282px;
        top: 65px;
    }
    .max-width-1090 {
        position: relative;
        max-width: 1090px;
        margin: auto;
        padding: 95px 15px 65px 15px;
    }
    .corner-header {
        position: relative;
        margin-bottom: 80px;
        .corner-right {
            position: absolute;
            right: 0;
            width: 50px;
            min-height: 50px;
            border-top: 3px solid $azure-color;
            border-right: 3px solid $azure-color;
        }
        .corner-text {
            position: absolute;
            right: 20px;
            top: 20px;
            font-family: Gotham SS Medium;
            font-size: 28px;
            line-height: 33.6px;
            color: $navy-color;
        }
    }
    .btn {
        font-family: Gotham SS Medium;
        font-size: 14px;
        width: 25%;
        margin-top: 150px;
        padding: 10px 0px;
        background-color: $azure-color;
        &:hover {
            color: $white-color;
            text-decoration: none;
        }
    }
}