@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../../styles/colors';

.production-rect {
    font-family: Gotham SS Medium;
    background-color: $grey-color;
    display: flex;
    .max-width-1090 {
        position: relative;
        max-width: 1090px;
        margin: auto;
        bottom: 105px;
        padding: 0 15px;
    }

    .dashed-border-navy {
        font-size: 14px;
        display: inline-flex;
        color: $navy-color;
        border-bottom: 1px dashed $navy-color;
        cursor: pointer;

        &:hover {
            border-bottom: 1px solid $navy-color;
        }

        i {
            margin-top: 6px;
            margin-left: 4px;
            font-size: 10px;
        }
    }

}