@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.header-rect {
    position: relative;
    z-index: 1;
    height: 700px;
    color: $white-color;
    width: 100%;
    .header-sticky {
        font-family: Gotham SS Medium;
        position: sticky;
        color: $white-color;
        padding: 15px;
        .max-width-1150 {
            max-width: 1150px;
            margin: auto;
            .btn {
                font-size: 14px;
                padding: 8px 23px;
            }
        }
    }
}

.header-blackout {
    position: fixed;
    top: 0px;
    background-color: $navy-color;
}

.menu {
    cursor: pointer;
    padding: 0px 15px;
    position: relative;
    &::after {
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        background: $azure-color;
        transition: width 0.3s ease, right 0.3s ease;
        width: 0%;
        right: 0;
    }
    &:hover{
        &::after {
            width: 100%; 
            left: 0;
        }
    }
}

.selected {
    &::after {
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        background: $azure-color;
        width: 100%;
    }
}

.max-width-600 {
    max-width: 600px;
    margin: auto;
    .about-us-header {
        font-family: Gotham SS Medium;
        line-height: 36px;
    }
    .about-us-text {
        font-family: Gotham SS Light;
        line-height: 22.5px;
    }
}

.dashed-border {
    border-bottom: 1px dashed $white-color;
}

.width-45 {
    width: 45%;
}

.width-55 {
    width: 55%;
}