@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';

.header-rect {
    position: relative;
    height: 700px;
    color: $white-color;
    width: 100%;
    .header-sticky {
        position: sticky;
        color: $white-color;
        height: 150px;
        padding: 15px;
    }
}

.header-blackout {
    position: sticky;
    top: 0px;
    background-color: $navy-color;
}

.font-small {
    font-size: small;
}

.menu {
    cursor: pointer;
    padding: 0px 15px;
    position: relative;
    &::after {
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        background: $azure-color;
        transition: width 0.3s ease, right 0.3s ease;
        width: 0%;
        right: 0;
    }
    &:hover{
        &::after {
            width: 100%; 
            left: 0;
        }
    }
}

.selected {
    &::after {
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        background: $azure-color;
        width: 100%;
    }
}

.max-width-1440 {
    max-width: 1440px;
    margin: auto;
}

.max-width-750 {
    max-width: 750px;
    margin: auto;
}

.width-33 {
    width: 33%;
}

.width-66 {
    width: 66%;
}

h1 {
    font-weight: 400;
}