@import "~bootstrap/scss/bootstrap";
@import '../../styles/colors';

.top-rect {
    max-width: 1440px;
    background-color: $navy-color;
    height: 700px;
    color: $white-color;
    padding-top: 15px;
    padding-bottom: 15px;
}