@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.how-we-work-rect {
    font-family: Gotham SS Medium;
    background-color: $white-color;
    cursor: default;
    margin-top: -60px;
    
    .max-width-1090 {
        position: relative;
        max-width: 1090px;
        margin: auto;
        padding: 60px 0;
    }
    .corner-header {
        position: relative;
        margin-bottom: 130px;
        .corner-left {
            position: absolute;
            width: 50px;
            min-height: 50px;
            border-top: 3px solid $azure-color;
            border-left: 3px solid $azure-color;
        }
        .corner-text {
            position: absolute;
            left: 20px;
            top: 20px;
            font-family: Gotham SS Medium;
            font-size: 28px;
            line-height: 33.6px;
            color: $navy-color;
        }
    }
    .steps {
        display: flex;
        margin-top: 160px;
        justify-content: center;
    }
    img {
        object-fit: cover;
        width: 211px;
        height: 180px;
    }
    p {
        font-family: Gotham SS Medium;
        color: $navy-color;
        font-size: 16px;
        width: 180px;
        text-align: center;
        margin: 0 10px;
    }
    .step {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $blue-color;
        color: $white-color;
        font-family: Gotham SS Medium;
        padding-left: 7px;
        padding-top: 2px;
    }
    .right-block {
        position: relative;
        top: -24px;

        .pl-9px {
            padding-left: 9px;
        }
        
        >div {
            &:nth-child(1n) {
                margin-bottom: 72px;
            }

            &:nth-child(2n) {
                margin-bottom: 48px;
            }
        }
    }

    .left-block {
        margin-top: 26px;

        >div {
            &:nth-child(1n) {
                margin-bottom: 47px;
            }

            &:nth-child(2n) {
                margin-bottom: 47px;
            }
        }
    }

    .lines {
        display: flex;

        .left-lines {
            height: 120px;
            width: 64px;
            border-top: 1px solid $baby-blue-color;
            border-right: 1px solid $baby-blue-color;
            border-bottom: 1px solid $baby-blue-color;
            position: relative;
            left: 1px;
            top: 60px;

            &:nth-child(2n) {
                border-top: none;
            }
        }

        .right-lines {
            height: 120px;
            width: 64px;
            border-top: 1px solid $baby-blue-color;
            border-left: 1px solid $baby-blue-color;
            border-bottom: 1px solid $baby-blue-color;
            position: relative;

            &:nth-child(2n) {
                border-top: none;
            }
        }
    }
}