@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.product-card {
    position: relative;
    width: 250px;
    height: 300px;
    background: $white-color;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    .product-card-header {
        font-family: Gotham SS Medium;
        color: $navy-color;
    }
    
    img {
        object-fit: cover;
        width: 250px;
        height: 222px;
    }

    .button-position {
        position: absolute;
        bottom: 21px;
        right: 17px;
        .btn {
            font-family: Gotham SS Medium;
            font-size: 14px;
            padding: 4px 23px;
            &:hover {
                color: $white-color;
                text-decoration: none;
                padding: 8px 30px;
                transition: all .15s ease-out;
            }
        }
        .btn-navy {
            color: $white-color;
            background-color: $navy-color;
            border-color: $navy-color;
        }
    }
}
