@import '~bootswatch/dist/cosmo/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/font-sizes';

.about-us-header-rect {
    position: relative;
    color: $white-color;
    width: 100%;
    margin-bottom: 186px;

    .max-width-700 {
        max-width: 700px;
        padding-top: 215px;
        margin-left: auto;
        margin-right: auto;
        .about-us-header {
            font-family: Gotham SS Medium;
            line-height: 36px;
        }
        .about-us-text {
            font-family: Gotham SS Light;
            line-height: 22.5px;
        }
    }

    .fa {
        margin-top: 6px;
        margin-left: 4px;
        font-size: 10px;
    }
}

.dashed-border-white {
    display: inline-flex;
    border-bottom: 1px dashed $white-color;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid $white-color;
    }
}

.margin-top-20 {
    margin-top: 20px;
}
